@charset "UTF-8";
body {
  margin: auto;
  padding: 0px;
  width: 100%;
}

/* ici nous avons creé l animation qui permet de faire grossir le coeur */
@-webkit-keyframes petit_coeur {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes petit_coeur {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
/*on determine ici la taille du loader etc le temps d animation et l animation qui sera utilisé*/
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #e6e6e6;
  -webkit-animation: apparition 3s forwards;
          animation: apparition 3s forwards;
}

/* ici nous créons l animation apparition afin qu il apparaisse progressivement et  la propriété z-index pour laisser transparaitre la couche loader*/
@-webkit-keyframes apparition {
  0% {
    z-index: 1;
  }
  99% {
    opacity: 0.8;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes apparition {
  0% {
    z-index: 1;
  }
  99% {
    opacity: 0.8;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/*ici commence toute la partie du loader , d abord on donne la forme souhaitée*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

/*ici on crée une div dans la quelle on va attribuer les propriétés pour que cela s anime*/
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #FF79DA;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #9356DC transparent transparent transparent;
}

/*ici on crée des div enfants afin de créer un effet visuel de décalage*/
.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

/*ici on crée l animation qui permet grace a la propriété rotate de faire tourner a 360degrés*/
@-webkit-keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#haut {
  width: 100%;
  height: 500px;
}

#middle {
  width: 100%;
  height: 600px;
}

#bas {
  width: 100%;
  height: 1200px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

#logo {
  font-family: "Shrikhand", cursive;
  font-size: 42px;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
}

a {
  text-decoration: none;
  color: black;
}

/* ici nous utilisons display flex afin de répondre au design souhaité*/
.recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #e6e6e6;
  box-shadow: 20px 0 0 0 gray;
}
.recherche__can {
  display: flex;
  justify-content: space-between;
}
.recherche__barre {
  width: 260px;
  margin-left: 30px;
  text-decoration: none;
  border: none;
  background: none;
}

.reservation {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  background-color: rgb(243, 243, 243);
  /*ici la mise en forme du bouton*/
}
.reservation__bouton {
  width: 300px;
  height: 72px;
  border-radius: 50px;
  margin-bottom: 10px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border: none;
}
.reservation__bouton:hover {
  opacity: 0.5;
}
.reservation__slogan {
  font-family: "Roboto", sans-serif;
}

#reservation__texte {
  color: #e8dbf9;
}

.fonction {
  width: 100%;
  height: 620px;
  display: flex;
  flex-wrap: wrap;
  /*ici on donne forme au filtre et on configure le survol en lui donnant un background et en augmentant l effet d ombre*/
  /*ici on a la partie qui contient le chiffre dans le rond violet*/
  /*ici on configure le survol de l con*/
}
.fonction__title {
  width: 100%;
  height: 50px;
  margin-top: 80px;
  margin-left: 25px;
}
.fonction__can {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 75%;
  align-items: center;
}
.fonction__filters {
  display: flex;
  align-items: center;
  width: 350px;
  height: 100px;
  border: 2px solid #F2F2F2;
  border-radius: 25px;
  box-shadow: 4px 4px 10px gray;
  margin-bottom: 40px;
}
.fonction__filters:hover {
  background-color: #cda8f9;
  box-shadow: 10px 10px 12px gray;
}
.fonction__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: gray;
  margin-right: 30px;
  font-size: 30px;
}
.fonction__round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  border-radius: 50%;
  background-color: #9356DC;
  position: relative;
  right: 20px;
}
.fonction__numbers {
  color: white;
  font-size: 15px;
}
.fonction__texte {
  margin-right: 70px;
}
.fonction__icon:hover {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 1200px;
  background-color: #F2F2F2;
  /*ici on configure chaque vignette */
  /*on utilise la police roboto*/
  /* ici on defini la taille du coeur présent dans la vignette*/
}
.restaurants__images {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.restaurants__items {
  width: 500px;
  height: 350px;
  box-shadow: 4px 4px 10px gray;
  border-radius: 20px;
  margin-bottom: 30px;
  position: relative;
}
.restaurants__title {
  width: 90%;
  height: 50px;
}
.restaurants__texte {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  width: 50%;
  height: 50px;
  margin-left: 15px;
}
.restaurants__hearts {
  width: 50px;
  height: 50px;
}
.restaurants__contents {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}
.restaurants__logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}
.restaurants__news {
  width: 125px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  position: absolute;
  right: 10px;
  top: 20px;
  border-radius: 4px;
}
.restaurants__nouveau {
  color: #3ca288;
  font-size: 20px;
}

/*ici on configure les coeurs pour qu ils se superposent et que le rose  apparait au survol*/
.black {
  width: 30px;
  position: relative;
  right: -30px;
}
.black:hover {
  opacity: 0;
}

.pink {
  width: 30px;
  opacity: 0;
}
.pink:hover {
  -webkit-animation: petit_coeur 3s;
          animation: petit_coeur 3s;
  opacity: 1;
}

.footer {
  width: 100%;
  height: 400px;
  background-color: rgb(67, 64, 64);
  display: flex;
  flex-direction: column;
  margin-top: -50px;
}
.footer__title {
  width: 80%;
  margin-left: 20px;
}
.footer__list {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.footer__content {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}
.footer__logo {
  width: 100%;
  height: 50px;
  font-family: "Shrikhand", cursive;
  color: white;
}
.footer__texte {
  font-family: "Roboto", sans-serif;
  color: white;
}
.footer__link {
  color: white;
}

/* ici quelques régles pour la partie tablette de notre site*/
@media screen and (max-width: 992px) {
  .restaurants {
    display: flex;
    justify-content: space-around;
  }
  .restaurants__items {
    width: 350px;
  }
}
/*ici commence la partie mobile  du site*/
@media screen and (max-width: 768px) {
  #bas {
    height: 1850px;
  }
  .fonction__can {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    justify-content: center;
  }
  .fonction__filters {
    display: flex;
    align-items: center;
    width: 92%;
  }
  .fonction__round {
    width: 35px;
    height: 35px;
    right: 18px;
  }
  .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .restaurants__items {
    width: 450px;
  }
  .footer {
    height: 330px;
    margin-top: 0px;
  }
  .footer__can {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .footer__list {
    height: 50px;
  }
}/*# sourceMappingURL=style.css.map */