#logo {
    font-family: "Shrikhand", cursive;
    font-size: 42px;
  }
  
  h1,
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
  }
  
  p {
    font-family: "Roboto", sans-serif;
    font-size: 23px;
  }

  .reservation__slogan {
    font-family: "Roboto", sans-serif;
  }

  .restaurants__texte {
    font-family: "Roboto", sans-serif;
    font-size: 18px;

    }

    .footer__texte {
        font-family: "Roboto", sans-serif;
        color: white;
      }

      .footer__logo{
        font-family: "Shrikhand", cursive;

      }